main {
    .banner {
        display: flex;
        background-color: $bannerBgColor;
        justify-content: space-between;
        padding: 1rem;
        line-height: 2rem;
      
    }
    .btn {
        button {
            padding: .5rem;
            background-color: $navBgColor;
            border:none;
            border-radius: 10px;
           
            font-size: 1rem;
            margin:1.5rem  .5rem 0 0;
            width:9rem;
            &:hover {
                cursor: pointer;
                background-color: $bgColor;
            }
        }
    }
}
@mixin myBox($bgColor, $fontColor) {
    background-color: $bgColor;
    width:25%;
    color:$fontColor;
    height:20rem;
    border:$myBorder;
    border-radius: 5px;
    margin:3px 2%;

    
}   


.cards {
    .card1{
        @include myBox(brown,white)
    }
    .card2{
        @include myBox(rgb(10, 239, 52),rgb(246, 18, 128))
    }
    .card3{
        @include myBox(rgb(219, 234, 49),rgb(20, 35, 238))
    }
    .card4{
        @include myBox(rgb(38, 22, 215),rgb(248, 236, 13))
    }
   display: flex;
   padding:1rem;
}

.article {
    padding: 1rem;
    display: flex;

    .article1 {
        width: 50%;
        background-color: grey;
        border: 1px solid black ;
        border-radius: 10px;
        height:10rem;
        margin:2%;
        padding:.5rem;


    }
    .article2 {
        @extend .article1;
        background-color: hotpink;
    }
}
