@import "./variables.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";



body {
    font-family:$fontFamily;
    background-color: $bgColor;
    color:$fontColor;
    font-size:$fontSize;

}

//********** Header ****
























































